docker {
    enabled = false
}

process {
    executor = 'sge'
    withName: fastqc {
        clusterOptions = '-S /bin/bash -l h_vmem=1G'
        cpus = '2'
        time = '1h'
        penv = 'smp'
        module = 'fastqc'
    }
    withName: fastp {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '2h'
        penv = 'smp'
        module = 'fastp'
    }
    withName: multiqc {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '2h'
        penv = 'smp'
        module = 'multiqc'
    }
    withName: salmon {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '4h'
        penv = 'smp'
        module = 'salmon'
    }
    withName: deseq2 {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '4h'
        penv = 'smp'
        module = 'r'
    }
}
